

.header-container {
    height: 1.5rem;
    line-height: 1.5rem;
}

.header-left {
    width: 0;
    padding: 0;
}

.header-blank {
    display: none;
}

.nav-tag {
    margin: 0;
    padding: 0 .52rem;
}

.nav-line {
    width: 1.3rem;
    transform: translateX(.2rem);
}

.page-content {
    font-size: .8rem;
}

.page-content > p {
    font-size: .6rem;
}
.page-title > p {
    font-size: .5rem;
}

.image-2-desc > p {
    font-size: .4rem;
}
.slide-button {
    width: .8rem;
    height: 1rem;
    line-height: 1rem;
    transform: translateY(-600%);
}


.slide-indicators {
    left: 67%;
    bottom: 15%;
}

.slide-indi {
    width: .6rem;
}

.page-2-wrapper {
    position: relative;
    left: 0;
}

.page-2-left {
    position: absolute;
    height: 9.8rem;
    left: 42%;
    transform: translateX(-50%);
    background-size: 100% 100%;
    opacity: 1;
    transition: opacity 1s;
}

.page-2-right {
    position: absolute;
    top: 10%;
    left: 9%;
    width: 6rem;
    height: 8rem;
    opacity: 0;
    transition: opacity 1s;
}

.page-2-right > h1 {
    font-weight: 700;
    font-size: .5rem;
}

.page-2-right > p {
    font-size: .3rem;
    line-height: .5rem;
}

.page-2-read {
    z-index: 3;
    display: block;
    position: absolute;
    left: 31%;
    bottom: -11%;
    width: 3rem;
    height: .8rem;
    line-height: .8rem;
    border-radius: 10px;
    background: white;
    text-align: center;
    color: #8dddfd;
}

.display {
    opacity: 0;
}

.active {
    opacity: 1;
}


.page-3-wrapper{
    left: 3.5%;
}

#weather {
    width: 7rem;
    height: 8rem;
}

.foot-wrapper {
    right: .2rem;
}
